<div class="field is-grouped" style="justify-content: center">
    <span class="icon" style="padding-top: 2px">
        <svg xmlns="http://www.w3.org/2000/svg"
             version="1.1"
             width="24"
             height="24"
             viewBox="0 0 24 24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z"
                  fill="#fff" />
        </svg>
    </span>
    <div class="title is-4 has-text-centered">
        <strong>&ensp;Markets</strong>
    </div>
</div>