@charset "utf-8";

// Set your brand colors
$strong-color: #f1f1f1;
$text-strong: #f1f1f1;
$text-light: #a1a1a1;

// Update Bulma's global variables
$family-sans-serif: "Ubuntu Mono", sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: "Sahitya";
$black: #272727;
$black-bis: #121212;
$white: #f1f1f1;
$grey-dark: #4b4b4b;
$grey-darker: #323232;
$primary: #209cee;
$text: $white;
$info: $primary;
$link: $white;
$link-hover: $primary;
$scheme-main: $black;
$scheme-invert: $white;
// Update some of Bulma's component variables
$body-background-color: $black;
$input-background-color: $body-background-color;
$input-placeholder-color: $text-light;
$input-color: $white;
$button-text-hover-background-color: "transparent";
$button-text-decoration: "none";
$button-active-color: "transparent";
$buton-focus-color: "transparent";
$button-active-color: "transparent";
$box-shadow: 0;
$input-focus-box-shadow-size: 0 0 0 0.25em;
$navbar-item-color: $primary;
$navbar-item-hover-color: $primary;
$navbar-item-hover-background-color: "transparent";
$dropdown-item-hover-background-color: $primary;
$dropdown-content-background-color: "transparent";
$dropdown-content-background-color: "transparent";
$dropdown-content-shadow: 0px;


@font-face {
    font-family: "Ubuntu Mono";
    font-style: normal;
    font-weight: 400;
    src: url(../wwwroot/font/UbuntuMono/ubuntu-mono-latin-400.woff) format("woff");
}

@font-face {
    font-family: "Sahitya";
    font-style: normal;
    font-weight: 400;
    src: url(../wwwroot/font/Sahitya/Sahitya-Regular.ttf) format("truetype");
}

.input:-internal-autofill-selected {
    background-color: transparent !important;
}

.dropdown {
    width: 90%;
}

.dropdown-trigger {
    width: 100%;
}

.dropdown-menu {
    width: 100%;
}

.dropdown-content {
    width: 100%;
}

.dropdown-item {
    width: 100%;
    overflow-x: auto;
}

/* Scrollbar width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    height: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    height: 4px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.4);
}

// Import only what you need from Bulma
@import "wwwroot/css/bulma/sass/utilities/_all.sass";
@import "wwwroot/css/bulma/sass/base/_all.sass";
@import "wwwroot/css/bulma/sass/elements/box.sass";
@import "wwwroot/css/bulma/sass/elements/button.sass";
@import "wwwroot/css/bulma/sass/elements/container.sass";
@import "wwwroot/css/bulma/sass/grid/_all.sass";
@import "wwwroot/css/bulma/sass/elements/title.sass";
@import "wwwroot/css/bulma/sass/form/_all.sass";
@import "wwwroot/css/bulma/sass/components/navbar.sass";
@import "wwwroot/css/bulma/sass/components/dropdown.sass";
@import "wwwroot/css/bulma/sass/helpers/_all.sass";
