@inherits LayoutComponentBase

<div style="background: linear-gradient(#272727, #209cee); height:100vh;">
    <nav><NavBar /></nav>

    <div class="page">
        <div class="main">
            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>


</div>