<div class="box has-text-centered"
     style="background: linear-gradient( to top right, #323232, #4b4b4b)">
    @*<div class="dropdown"></div>
        <div class="dropdown-trigger">*@
    <div class="field">
        <p class="control">
            <input class="input is-primary"
                   type="search"
                   placeholder="Search for a coin..." />
        </p>
    </div>
</div>
@*<div class="dropdown-menu"
         id="dropdown-menu"
         role="menu"
         style="max-height: 350px; overflow-y: auto">
    </div>*@
@*</div>*@