@page "/"
@layout Client.Shared.IndexLayout


<div class="container is-max-desktop">
    <div class="has-text-centered">
        <h2 class="title is-2 is-family-secondary has-text-white is-size-3-mobile mt-1 mb-2"
            style="text-shadow: rgb(239,239,239) 2px 2px 5px">
            Keep track of your stack
        </h2>
    </div>
    <div class="box has-text-centered is-shadowless is-vcentered mb-0" style="background:transparent">
        <h6 class="title is-6 mb-3">coinStack is a live portfolio tracker for your crypto assets.</h6>
    </div>
</div>
<div class="box has-text-centered is-shadowless p-0" style="background:transparent;">
    <img src="img/coinStack4x3.png" alt="coinStack homepage" />
</div>