@page "/login"
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager

<div class="container is-max-desktop">
    <AuthorizeView>
        <Authorized Context="context">
            <div class="box has-text-centered">
                <h6 class="title is-6">You are logged in as: @context.User.Identity.Name</h6>
                <div class="button is-primary is-outlined" @onclick="Logout">
                    <strong>Log Out</strong>
                </div>
            </div>
        </Authorized>
        <NotAuthorized Context="other">
            <h6 class="title is-6">Please log in below or <NavLink href="register">register</NavLink> a new account.</h6>
            <EditForm Model="fakeUser" OnValidSubmit="HandleLogin" autocomplete="off">
                <DataAnnotationsValidator />
                <div class="field">
                    <label for="username">Username</label>
                    <InputText id="username" @bind-Value="fakeUser.Username" class="input is-primary" />
                </div>
                <div class="field">
                    <label for="password">Password</label>
                    <InputText id="password" @bind-Value="fakeUser.Password" type="password" class="input is-primary" />
                </div>
                <button type="submit" class="button is-primary is-outlined">Log In</button>
                <ValidationSummary />
            </EditForm>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private UserLogin fakeUser = new UserLogin();

    private async void HandleLogin()
    {
        await LocalStorage.SetItemAsync<bool>("isAuthed", true);
        await AuthStateProvider.GetAuthenticationStateAsync();
    }

    private async void Logout()
    {
        await LocalStorage.RemoveItemAsync("isAuthed");
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("/");
    }
}
