@page "/portfolio"
@using System.Net.Http
@inject HttpClient Http
@inject coinStack.Client.Services.ICoinService CoinService

<div class="container is-max-desktop">
    <PortfolioTitle />
    <PortfolioSummary />
    <div class="box mt-4 mb-2 py-0 is-transparent"
         style="border-color: #4b4b4b; border-radius: 5px; border-style: solid; border-width: 1px;">
        <div class="columns is-gapless is-mobile">
            <div class="column">
                <strong>Coin</strong>
            </div>
            <div class="column has-text-centered">
                <strong>Price&emsp;</strong>
            </div>
            <div class="column has-text-right">
                <strong>Holdings&nbsp;</strong>
            </div>
        </div>
    </div>
    <div>
        @if (CoinService.Coins == null)
        {
            <div>loading...</div>
        }
        else
        {
            foreach (Coin c in CoinService.Coins)
            {
                <div class="box mb-2" style="background: linear-gradient(to top right, #323232, #4b4b4b); padding: 5px;">
                    <div class="columns is-gapless is-mobile is-vcentered pr-4">
                        <div class="column">
                            <img alt="@c.id logo" src="@c.image" style="height: 46px; width: 46px; vertical-align: middle" />
                            &emsp;@c.name
                        </div>
                        <div class="column has-text-centered">placeholder</div>
                        <div class="column has-text-right">@c.symbol.ToUpper()</div>
                    </div>
                </div>
            }
        }
    </div>
</div>

@code{
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("oninit");
        await CoinService.LoadPortfolioCoinsAsync();
        await CoinService.LoadCoinsAsync();
    }
}