@page "/settings"
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject coinStack.Client.Services.IAuthService AuthService

<div class="container is-max-desktop">
    <AuthorizeView>
        <Authorized>
            <div class="box has-text-centered">
                <h6 class="title is-6">You are logged in as: @context.User.Identity.Name</h6>
                <div class="dropdown @WatchlistDropdownActive" style="width:180px;">
                    <div class="dropdown-trigger">
                        <button class="button is-primary is-outlined" aria-haspopup="true" aria-controls="dropdown-menu3" @onclick="WatchlistToggler">
                            <span>Choose Watchlist</span>
                            <span class="icon is-small" style="padding-top: 2px">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     version="1.1"
                                     width="15"
                                     height="15"
                                     viewBox="0 0 320 512">
                                    <path fill="#209cee" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z" />
                                </svg>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                        <div class="dropdown-content" style="width:180px;">
                            <a href="#" class="dropdown-item">
                                Overview
                            </a>
                            <a href="#" class="dropdown-item">
                                Modifiers
                            </a>
                        </div>
                    </div>
                </div>
                <div class="box has-text-centered">
                    <div class="dropdown @PortfolioDropdownActive" style="width:180px;">
                        <div class="dropdown-trigger">
                            <button class="button is-primary is-outlined" aria-haspopup="true" aria-controls="dropdown-menu3" @onclick="PortfolioToggler">
                                <span>Choose Portfolio</span>
                                <span class="icon is-small" style="padding-top: 2px">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         version="1.1"
                                         width="15"
                                         height="15"
                                         viewBox="0 0 320 512">
                                        <path fill="#209cee" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z" />
                                    </svg>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                            <div class="dropdown-content" style="width:180px;">
                                <a href="#" class="dropdown-item">
                                    Overview
                                </a>
                                <a href="#" class="dropdown-item">
                                    Modifiers
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="box has-text-centered">
                <h6 class="title is-6">Please <NavLink href="login">Log in</NavLink> or <NavLink href="register">register</NavLink> a new account.</h6>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private bool collapseWatchlistDropdown = true;
    private bool collapsePortfolioDropdown = true;


    private string WatchlistDropdownActive => collapseWatchlistDropdown ? "is-shadowless" : "is-shadowless is-active";
    private string PortfolioDropdownActive => collapsePortfolioDropdown ? "is-shadowless" : "is-shadowless is-active";


    public void WatchlistToggler()
    {
        collapseWatchlistDropdown = !collapseWatchlistDropdown;
    }

    public void PortfolioToggler()
    {
        collapsePortfolioDropdown = !collapsePortfolioDropdown;
    }

}
