<div class="box py-4 has-text-white" style="background: linear-gradient( to top right, #1b57a2, #52c4ff)">
    <div class="columns is-gapless is-mobile">
        <div class="column has-text-left">
            Portfolio Value:
            <span style="white-space: nowrap">
            </span>
        </div>
        <div class="column has-text-right">
            Profit/Loss:
            <span style="white-space: nowrap">
            </span>
        </div>
    </div>
</div>